{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/backend.css' %}"/>
    {% block styles %}
    {% endblock %}
</head>
<body>
<!-- Mobile menu -->
<div class="ui sidebar inverted vertical menu">
    {% include 'backend/partials/menu.html' %}
</div>
<div class="pusher">
    <div class="ui grid container">
        <!-- Desktop menu -->
        <div class="ui left fixed vertical inverted menu">
            {% include 'backend/partials/menu.html' %}
        </div>
        <div class="ui main grid">
            <!-- Mobile menu button -->
            <div class="ui fixed inverted main menu mobile">
                <div class="ui container mobile">
                    <a class="launch icon item sidebar-toggle">
                        <i class="sidebar icon"></i>
                    </a>
                </div>
            </div>
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
<script type="text/javascript" src="{% static 'js/backend.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
