{% extends 'backend/layouts/base.html' %}

{% block title %}
{{ team.name }}: Chat
{% endblock %}

{% block body %}
<!-- Page title -->
<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">
        {{ team.name }}
        <div class="sub header">
            Chat
        </div>
    </h2>
</div>

<!-- Notifications -->
{% include 'backend/partials/notifications.html' %}

<!-- Body -->
<div class="row">
    <!-- Message form -->
    <form class="ui form" method="POST" action="{% url 'team:chat' team.id %}">
        <h4 class="ui dividing header">
            Post a Message
        </h4>
        <table class="simple form">
            <tr>
                <td>
                    <div class="field">
                        <input type="text" name="message" placeholder="Say something..." maxlength="255" required>
                    </div>
                </td>
                <td>
                    {% csrf_token %}
                    <button class="ui green button" type="submit">
                        Send
                    </button>
                </td>
            </tr>
        </table>
    </form>
    {% if team_messages %}
    <!-- Chat log -->
    <h4 class="ui dividing header expand">
        Chat Log
    </h4>
    {% for team_message in team_messages %}
    <div class="ui small message expand">
        <div class="message header">
            {{ team_message.owner.get_full_name }}, {{ team_message.created|timesince }} ago
        </div>
        <p>{{ team_message.message }}</p>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
