* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5 !important;
}

.back.nav.button {
    border-radius: 10px;
    padding: 50px;
}

.expand {
    width: 100%;
}

.item.first {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.main.menu.mobile {
    padding: 0;
}

.message.download td:nth-child(1) {
    width: 100%;
}

.message.download .download.icon {
    font-size: 20pt;
    padding-top: 5px;
}

.message.header {
    font-size: 10pt !important;
}

.org.view th:nth-child(2) {
    width: 40%;
}

.org.view th:nth-child(2n + 1) {
    width: 30%;
}

.simple.form td {
    padding: 5px;
}

.simple.form td:nth-child(1) {
    width: 100%;
}

.team.view th:nth-child(1),
.user.view th:nth-child(1) {
    width: 80%;
}

.team.view th:nth-child(2),
.user.view th:nth-child(2) {
    width: 20%;
}

.ui.container.mobile {
    float: left;
}

.ui.main.grid {
    left: 18.75%;
    position: relative;
    width: 81.25%;
}

.ui.main.grid .ui.secondary.pointing.fluid.menu h2 {
    margin: calc(2rem - 0.14285em) 0 1rem;
}

.ui.fixed.inverted.main.menu {
    display: none;
}

.ui.left.fixed.vertical.inverted.menu {
    padding-left: 0;
    padding-right: 0;
}

.ui.left.fixed.vertical.inverted.menu a.item:first-child {
    padding-bottom: 30px;
    padding-top: 60px;
}

.ui.sidebar.inverted.vertical.menu a.item:first-child {
    padding-bottom: 15px;
    padding-top: 30px;
}

[data-page=login] .ui.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    width: 465px;
}

.dashboard.brand.icon {
    width: 100%;
    margin-bottom: 36px;
}

[data-page=login] .ui.container .ui.segment {
    padding: 35px;
}

p.signup {
    padding-top: 25px;
}

p.dashboard {
    font-size: 12px;
    padding-top: 10px;
    text-transform: uppercase;
}

p.dashboard,
p.signup {
    color: #999;
    text-align: center;
}

.ui.striped.table {
    padding-left: 0;
    padding-right: 0;
}

.ui.main.grid .products.column,
.ui.main.grid .products.column .basic.segment {
    padding: 1rem 0;
}

.ui.divided.product.items {
    width: 100%;
}

.ui.divided.product.items img {
    height: 187px;
    width: 150px;
}

.customer.statistics,
.feedback.segments {
    width: 100%;
}

.ui.mobile.cards {
    display: none;
}

.ui.dashboard.segment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 171px;
}

.ui.dashboard.statistic .value {
    color: #fff;
}

.ui.dashboard.statistic .label {
    color: #f5f5f5;
}

.top-table.column {
    width: 33.33333333% !important;
}

.doughnut-chart.column .ui.segment:last-child,
.top-table.column .ui.segment:last-child {
    height: 219px;
}

.doughnut-chart.column {
    width: 66.66666666% !important;
}

ul#dashboard_legend {
    display: inline-block;
    vertical-align: top;
}

ul.doughnut-legend {
    list-style-type: none;
}

.doughnut-legend li span {
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    height: 12px;
    width: 12px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .ui.mobile.cards {
        display: flex;
    }

    .ui.left.fixed.vertical.inverted.menu,
    .ui.special.three.cards {
        display: none;
    }

    .ui.main.grid .row {
        padding-top: 0;
        padding-bottom: 0;
    }

    .doughnut-chart.column .ui.segment:last-child,
    .top-table.column .ui.segment:last-child {
        height: auto;
    }

    .ui.special.three.cards .card .content a.header,
    .ui.special.three.cards .card .content div.header {
        font-size: 1em;
    }

    .ui.four.customer.statistics .statistic .value {
        font-size: 1.5em;
    }

    .ui.grid .nine.wide.products.column,
    .ui.grid .seven.wide.products.column {
        padding: 0;
        width: 100% !important;
    }

    .ui.grid .seven.wide.products.column .ui.basic.right.aligned.segment {
        text-align: left;
    }

    .ui.grid .four.wide.sales.column,
    .ui.grid .row .doughnut-chart.column,
    .ui.grid .row .top-table.column,
    .ui.grid .twelve.wide.sales.column,
    .ui.grid .ui.three.column.row .dashboard-stat.column {
        margin-bottom: 30px;
        width: 100% !important;
    }

    .ui.header.datetime {
        margin: 3rem 0 1rem;
    }

    .ui.fixed.inverted.main.menu {
        display: block;
    }

    .ui.main.grid {
        left: 0;
        margin: 0 auto;
        padding: 2.75rem 0 0;
        position: relative;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ui.header.datetime {
        margin: 3rem 0 1rem;
    }

    .ui.left.fixed.vertical.inverted.menu {
        display: none;
    }

    .ui.fixed.inverted.main.menu {
        display: block;
    }

    .ui.main.grid {
        left: 0;
        padding-top: 2.75rem !important;
        position: relative;
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .ui.fixed.inverted.main.menu {
        display: none;
    }

    .ui.left.fixed.vertical.inverted.menu {
        display: block;
    }
}

.ui.sidebar {
    overflow: visible !important;
}
