{% extends 'backend/layouts/base.html' %}
{% load static %}

{% block title %}
Dashboard: Home
{% endblock %}

{% block styles %}
<!-- Add some spacing between the buttons -->
<link rel="stylesheet" href="{% static 'css/backend.grid.css' %}"/>
{% endblock %}

{% block body %}
<!-- Page title -->
<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">
        Dashboard
        <div class="sub header">
            Home
        </div>
    </h2>
</div>

<!-- Notifications -->
{% include 'backend/partials/notifications.html' %}

<!-- Body -->
<div class="row">
    <table class="expand">
        <tr>
            <td class="dashboard">
                <a class="fluid ui green back nav button" href="{% url 'dashboard:organization:view' %}">
                    <h2>Organizations</h2>
                    <h4>Select an organization to get started.</h4>
                </a>
            </td>
            <td class="dashboard">
                <a class="fluid ui blue back nav button" href="{% url 'dashboard:user:edit' %}">
                    <h2>Account</h2>
                    <h4>View, edit, or delete your account.</h4>
                </a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
