{% extends 'backend/layouts/base.html' %}
{% load static %}

{% block title %}
Dashboard: View Organizations
{% endblock %}

{% block body %}
<!-- Delete-leave modal -->
<div class="ui small modal" id="verify">
    <div class="header" id="verify-title"></div>
    <div class="content">
        <div align="center" id="verify-description"></div>
    </div>
    <div class="actions">
        <a class="ui cancel button" type="reset">
            Cancel
        </a>
        <a class="ui red submit button" id="verify-link" type="submit"></a>
    </div>
</div>

<!-- Page title -->
<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">
        Organizations
        <div class="sub header">
            Select
        </div>
    </h2>
    <div class="right menu">
        <a class="ui active item">
            Select
        </a>
        <a class="ui item" href="{% url 'dashboard:organization:create' %}">
            Create
        </a>
    </div>
</div>

<!-- Notifications -->
{% include 'backend/partials/notifications.html' %}

<!-- Body -->
<div class="row">
    {% if organizations %}
    <table class="ui very basic striped celled table org view">
        <thead>
            <tr>
                <th>Organization</th>
                <th>Active Teams</th>
                <th>Members</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for organization in organizations %}
            <tr>
                <td>{{ organization.name }}</td>
                <td>
                    {% if organization.active_teams %}
                        {% for active_team in organization.active_teams %}
                            {% if forloop.last %}
                                {{ active_team.name }}.
                            {% else %}
                                {{ active_team.name }},
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        (No active teams)
                    {% endif %}
                </td>
                <td>{{ organization.members }}</td>
                <td>
                    {% if organization.owner == request.user %}
                     <div class="ui blue buttons">
                         <a class="ui button" href="{% url 'organization:team:view' organization.id %}">
                             Select
                         </a>
                         <div class="ui floating dropdown icon button">
                             <i class="dropdown icon"></i>
                             <div class="menu">
                                 <a class="item" href="{% url 'organization:manage:edit' organization.id %}">
                                     <i class="edit icon"></i> Manage
                                 </a>
                                 <a class="item" onclick="verify('{% url 'organization:delete' organization.id %}', 'delete', 'organization')">
                                     <i class="delete icon"></i> Delete
                                 </a>
                             </div>
                         </div>
                     </div>
                     {% else %}
                     <div class="ui green buttons">
                        <a class="ui button" href="{% url 'organization:team:view' organization.id %}">
                            Select
                        </a>
                        <div class="ui floating dropdown icon button">
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" onclick="verify('{% url 'organization:leave' organization.id %}', 'leave', 'organization')">
                                    <i class="sign out icon"></i> Leave
                                </a>
                            </div>
                        </div>
                     </div>
                     {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<!-- Delete-leave modal -->
<script type="text/javascript" src="{% static 'js/backend.manage.js' %}"></script>
{% endblock %}
