{% extends 'backend/layouts/base.html' %}

{% block title %}
Dashboard: Change Password
{% endblock %}

{% block body %}
<!-- Page title -->
<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">
        Account
        <div class="sub header">
            Settings
        </div>
    </h2>
    <div class="right menu">
        <a class="ui item" href="{% url 'dashboard:user:edit' %}">
            Edit Account
        </a>
        <a class="ui active item">
            Change Password
        </a>
    </div>
</div>

<!-- Notifications -->
{% include 'backend/partials/notifications.html' %}

<!-- Body -->
<div class="row">
    <!-- Change password -->
    <form class="ui form expand" method="POST">
        <h4 class="ui dividing header">
            Change Password
        </h4>
        <div class="field">
            <label>Old password</label>
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password_old" placeholder="Old password" required>
            </div>
        </div>
        <div class="field">
            <label>New password</label>
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password_one" placeholder="New password" required>
            </div>
        </div>
        <div class="field">
            <label>Confirm new password</label>
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password_two" placeholder="Confirm new password" required>
            </div>
        </div>
        <br/>
        {% csrf_token %}
        <button class="ui green button" type="submit">
            Save
        </button>
    </form>
</div>
{% endblock %}
