{% load static %}
{% load utils %}

<!-- Dashboard link -->
<a class="item first" href="{% url 'dashboard:home' %}">
    <h4 align="center">Dashboard</h4>
</a>

{% if organization %}
<!-- Organization menu -->
<div class="item">
    <b>{{ organization.name }}</b>
</div>
<a class="{% if request|viewname:'organization:home' %}active {% endif %}item"
   href="{% url 'organization:home' organization.id %}">
    <small>Home</small>
    <i class="home icon"></i>
</a>
<a class="{% if request|viewname:'organization:users' %}active {% endif %}item"
   href="{% url 'organization:users' organization.id %}">
    <small>Users</small>
    <i class="users icon"></i>
</a>
<a class="{% if request|namespace:'organization:team' %}active {% endif %}item"
   href="{% url 'organization:team:view' organization.id %}">
    <small>Teams</small>
    <i class="th list icon"></i>
</a>
{% if organization.owner == request.user %}
<a class="{% if request|namespace:'organization:manage' %}active {% endif %}item"
   href="{% url 'organization:manage:edit' organization.id %}">
    <small>Manage</small>
    <i class="cogs icon"></i>
</a>
{% endif %}
{% endif %}

{% if team %}
<!-- Team menu -->
<div class="item">
    <b>{{ team.name }}</b>
</div>
<a class="{% if request|viewname:'team:home' %}active {% endif %}item"
   href="{% url 'team:home' team.id %}">
    <small>Home</small>
    <i class="home icon"></i>
</a>
<a class="{% if request|viewname:'team:users' %}active {% endif %}item"
   href="{% url 'team:users' team.id %}">
    <small>Users</small>
    <i class="users icon"></i>
</a>
<a class="{% if request|viewname:'team:events' %}active {% endif %}item"
   href="{% url 'team:events' team.id %}">
    <small>Events</small>
    <i class="calendar icon"></i>
</a>
<a class="{% if request|viewname:'team:chat' %}active {% endif %}item"
   href="{% url 'team:chat' team.id %}">
    <small>Chat</small>
    <i class="comments icon"></i>
</a>
<a class="{% if request|viewname:'team:files' %}active {% endif %}item"
   href="{% url 'team:files' team.id %}">
    <small>Files</small>
    <i class="folder open icon"></i>
</a>
{% if team.owner == request.user %}
<a class="{% if request|namespace:'team:manage' %}active {% endif %}item"
   href="{% url 'team:manage:edit' team.id %}">
    <small>Manage</small>
    <i class="cogs icon"></i>
</a>
{% endif %}
{% endif %}

<!-- Log out -->
<a class="item" href="{% url 'frontend:logout' %}">
    <h4 class="ui grey header">{{ request.user.get_full_name }}</h4>
    <p>Log out</p>
</a>
