{% extends 'backend/layouts/base.html' %}
{% load static %}
{% load utils %}

{% block title %}
{{ organization.name }}: Home
{% endblock %}

{% block styles %}
<!-- Markdown styles -->
<link rel="stylesheet" href="{% static 'css/backend.md.css' %}"/>
{% endblock %}

{% block body %}
<!-- Page title -->
<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">
        {{ organization.name }}
        <div class="sub header">
            Home
        </div>
    </h2>
</div>

<!-- Notifications -->
{% include 'backend/partials/notifications.html' %}

<!-- Description -->
<div>
    {{ organization.description|markdown }}
</div>
{% endblock %}
