{% extends 'backend/layouts/base.html' %}

{% block title %}
{{ organization.name }}: Edit
{% endblock %}

{% block body %}
<!-- Page title -->
<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">
        {{ organization.name }}
        <div class="sub header">
            Manage
        </div>
    </h2>
    <div class="right menu">
        <a class="ui active item">
            Edit
        </a>
        <a class="ui item" href="{% url 'organization:manage:users' organization.id %}">
            Users
        </a>
    </div>
</div>

<!-- Notifications -->
{% include 'backend/partials/notifications.html' %}

<!-- Body -->
<div class="row">
    {% include 'backend/partials/organization_form.html' %}
</div>
{% endblock %}

{% block scripts %}
<!-- Organization form -->
<script type="text/javascript">
    var country = '{{ form.data.country|default:form.instance.country }}';
    var state = '{{ form.data.state|default:form.instance.state }}';
    $('[name=country]').dropdown('set selected', country);
    $('[name=state]').dropdown('set selected', state);
</script>
{% endblock %}
