{% extends 'backend/layouts/base.html' %}

{% block title %}
{{ organization.name }}: Create Team
{% endblock %}

{% block body %}
<!-- Page title -->
<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">
        {{ organization.name }}
        <div class="sub header">
            Teams
        </div>
    </h2>
    <div class="right menu">
        <a class="ui item" href="{% url 'organization:team:view' organization.id %}">
            Select
        </a>
        <a class="ui active item">
            Create
        </a>
    </div>
</div>

<!-- Notifications -->
{% include 'backend/partials/notifications.html' %}

<!-- Body -->
<div class="row">
    {% include 'backend/partials/team_form.html' %}
</div>
{% endblock %}
