{% extends 'backend/layouts/base.html' %}

{% block title %}
{{ organization.name }}: Edit Users
{% endblock %}

{% block body %}
<!-- Page title -->
<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">
        {{ organization.name }}
        <div class="sub header">
            Users
        </div>
    </h2>
</div>

<!-- Notifications -->
{% include 'backend/partials/notifications.html' %}

<!-- Body -->
<div class="row">
    <table class="ui very basic striped celled table user view">
        <thead>
            <tr>
                <th>User</th>
                <th>Member Since</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.user.get_full_name }}</td>
                <td>{{ user.created|date:"M d, Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
